.editForm {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 5px 5px 10px 5px rgb(36, 35, 35);
  margin-left: 15px;
}

.interface {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 8px 0px 10px 0;
}

.body {
  width: 100%;
  height: 100%;
  margin-bottom: 12px;
}

.deleteButton {
  border-color: gray;
  background-color: #c7c6c6;
  box-shadow: 2px 2px 2px 2 gray;
}

.okButton {
  border-color: gray;
  background-color: #c7c6c6;
  box-shadow: 2px 2px 2px 2 gray;
}
