@import '../../variables.scss';

.waitingButton {
  background-color: $waiting;
  margin-left: 7px;
}

.inProgressButton {
  background-color: $inProgress;
  margin-left: 7px;
}

.doneButton {
  background-color: $done;
  margin-left: 7px;
}
