@import './../../variables.scss';

// правила overflow: hidden и text-overflow: ellipsis обрезают текст с помощью '...'
.todoItem {
  width: 100%;
  padding-top: 6px 0px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}

.waiting {
  background-color: $waiting;
}

.inProgress {
  background-color: $inProgress;
}

.done {
  background-color: $done;
}

.picked {
  border-color: black;
}
